.product-list-container {
    display: flex;
    height: 100vh;
  }
  
  .left-side {
    flex-basis: 50%;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    background-color: #eee;
    margin-right : 2px
  }
  
  .left-side p {
    font-size: 1.5rem;
  }
  
  .right-side {
    display: flex;
    flex-wrap: wrap;  
    flex-basis: 50%;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #eee;
    padding: 20px;
    }
    
    .product {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        position: relative;
    }
    
    .product h3 {
    margin-bottom: 10px;
    }
    
    .product-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-right: 15px;
    }  
    
.product p {
    font-size: 1rem;
    margin: 0;
    position: absolute; 
    top: 10px; 
    left: 0;
    right: 0;
    text-align: center; 
  }
  .checkout {
    /* margin-top: auto; */
    padding: 20px;
    background-color: #f2f2f2;
    display: flex;
  }
  
  .checkout h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .fields {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .field {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .field label {
    margin-right: 10px;
    font-weight: bold;
  }
  
  .field .value {
    font-weight: bold;
  }
  