.product-list-container {
  display: flex;
  height: 100vh;
}

.left-side {
  flex-basis: 50%;
  display: flex;
  background-color: #eee;
  margin-right: 2px
}

.left-side p {
  font-size: 1.5rem;
}

.right-side {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 50%;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #eee;
  padding: 20px;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
}

.product h3 {
  margin-bottom: 10px;
}

.product-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-right: 15px;
}

.product p {
  font-size: 1rem;
  margin: 0;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 100%;
}

tbody {
  vertical-align: top;
}

tbody tr {
  background-color: #ffffff;
}

th,
td {
  text-align: left;
  padding: 8px;
}

th {
  background-color: #ddd;
}

.button-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.cancel-button,
.process-button {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

.cancel-button {
  background-color: #dc3545;
  color: #fff;
  margin-right: 10px;
  width: 45%;

}

.process-button {
  background-color: #28a745;
  color: #fff;
  width: 45%;

}

.horizontal-line {
  border-top: 1px solid grey;
  height: 1px;
}

.Receipt-heading {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
}

.sale_no {
  display: flex;
  justify-content: center;
}

.product-details {
  display: none;
}

.product:hover .product-details {
  display: contents;
}

.receipt_modal.ReactModal__Content--after-open {
  width: 50vh;
  position: absolute;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  left: 34%;
}

.close-modal {
  width: 100%;
  background-color: #ffffff;
  border: 1px solid grey;
  font-size: 25px;
  border-radius: 6px;
}

.delete_product {
  color: white;
  background-color: red;
  border-radius: 48px;
  border: none;
}